<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tabel KTP Masyarakat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Data KTP Masyarakat</h1>
        <hr>
        <table border="1", style="width:100%">
            <tbody>
                    <tr>
                        <th id="h1">ID</th>
                        <th id="h2">Nomor KTP</th>
                        <th id="h3">Nama</th>
                        <th id="h4">Alamat</th>
                    </tr>
                    <tr>
                        <td headers="h1">2245001</td>
                        <td headers="h2">33250000</td>
                        <td headers="h3">Faqih</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">2245002</td>
                        <td headers="h2">33250001</td>
                        <td headers="h3">Arfan</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">2245003</td>
                        <td headers="h2">33250002</td>
                        <td headers="h3">Faiz</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">2245004</td>
                        <td headers="h2">33250003</td>
                        <td headers="h3">Hanif</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">2245005</td>
                        <td headers="h2">33250004</td>
                        <td headers="h3">Firizki</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">2245006</td>
                        <td headers="h2">33250005</td>
                        <td headers="h3">Lana</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">2245007</td>
                        <td headers="h2">33250006</td>
                        <td headers="h3">Tegar</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">2245008</td>
                        <td headers="h2">33250007</td>
                        <td headers="h3">Indra</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">2245009</td>
                        <td headers="h2">33250008</td>
                        <td headers="h3">Riza</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450010</td>
                        <td headers="h2">33250009</td>
                        <td headers="h3">Bayu</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450011</td>
                        <td headers="h2">332500010</td>
                        <td headers="h3">Andri</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450012</td>
                        <td headers="h2">332500011</td>
                        <td headers="h3">Andra</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450013</td>
                        <td headers="h2">332500012</td>
                        <td headers="h3">Prasetyo</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450014</td>
                        <td headers="h2">332500013</td>
                        <td headers="h3">Andhika</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450015</td>
                        <td headers="h2">332500014</td>
                        <td headers="h3">Anggara</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450016</td>
                        <td headers="h2">332500015</td>
                        <td headers="h3">Afiq</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450017</td>
                        <td headers="h2">33250016</td>
                        <td headers="h3">Firly</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450018</td>
                        <td headers="h2">33250017</td>
                        <td headers="h3">Dewi</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450019</td>
                        <td headers="h2">332500018</td>
                        <td headers="h3">Fina</td>
                        <td headers="h4">Limpung</td>
                    </tr>
                    <tr>
                        <td headers="h1">22450020</td>
                        <td headers="h2">332500019</td>
                        <td headers="h3">Irul</td>
                        <td headers="h4">Limpung</td>
                    </tr>
            </tbody>
        </table>
        <hr>
        <p th:text="${result}"></p>
    </body>
</html>

